.head-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #18122B;
    border-bottom: 1px solid #18122B;
    margin-right: 50px;
    margin-left: 50px;
}

.head-logo-text{
    font-size: 50px;
    align-self: center;
    translate: 0px 25px;
}

.head-tab-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.head-tab-text{
    font-size: 25px;
    margin-right: 25px;
}

.header-link{
    color: black;
    text-decoration: none;
}

.header-link:hover{
    color: white;
    text-decoration: none;
}

